* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f9f9f9;
  color: #888;
}

h1, p {
  text-align: center;
}

a {
  text-decoration: none;
  color: #444;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .board {
  width: 240px;
  height: 240px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container .board .cell {
  width: 100px;
  height: 100px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 2px 2px 4px #888;
  opacity: 0.4;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.container .board .cell.lit {
  opacity: 1;
}
.container .board .cell:hover {
  box-shadow: 2px 2px 8px #888;
}
.container .board .cell.green {
  background: green;
}
.container .board .cell.red {
  background: red;
}
.container .board .cell.blue {
  background: blue;
}
.container .board .cell.orange {
  background: orange;
}
.container .round-info {
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  margin-bottom: 20px;
}
.container .btn-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 30px 0;
}
.container .start-btn {
  text-align: center;
  margin: 20px;
}
.container .start-btn #reset {
  display: none;
}
.container .start-btn a {
  padding: 10px 20px;
  background: #888;
  border-radius: 4px;
  color: #fff;
  box-shadow: 2px 2px 4px #888;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.container .start-btn a:hover {
  box-shadow: 2px 2px 8px #888;
}
.container .toggle-btn {
  text-align: center;
}
.container .toggle-btn p {
  font-size: 21px;
  margin: 0;
}
.container .toggle-btn .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.container .toggle-btn .switch input {
  display: none;
}
.container .toggle-btn .switch .slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ccc;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}
.container .toggle-btn .switch .slider.round {
  border-radius: 34px;
}
.container .toggle-btn .switch .slider.round:before {
  border-radius: 34px;
}
.container .toggle-btn .switch .slider:before {
  position: absolute;
  content: "";
  width: 26px;
  height: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.container .toggle-btn input:checked + .slider {
  background: #ff6600;
}
.container .toggle-btn input:checked + .slider:before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}
